---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Post from '../../components/Post.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout pageTitle="Blog">
  <h1 class="sr-only">Blog</h1>
  <div class="w-11/12 mx-auto mt-6 mb-12">
    {posts.map((post) => <Post id={post.id} {...post.data} />)}
  </div>
</Layout>
