---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Post from '../../components/Post.astro';

const posts = await getCollection('blog');
---

<Layout pageTitle="Blog">
  <h1 class="sr-only">My blog</h1>
  <div class="w-11/12 mx-auto my-16">
    {posts.map((post) => <Post id={post.id} {...post.data} />)}
  </div>
</Layout>
