@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
  --background: hsl(0, 0%, 9%);
  --foreground: hsl(60, 100%, 97%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Mulish Variable', 'sans-serif';
  --breakpoint-xs: 30rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: hsl(60, 100%, 97%);
    --foreground: hsl(0, 0%, 9%);
  }

  .astro-code,
  .astro-code span {
    color: var(--shiki-light) !important;
    background-color: var(--shiki-light-bg) !important;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
