@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
  --background: hsl(0, 0%, 9%);
  --foreground: hsl(60, 100%, 97%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --breakpoint-xs: 30rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: hsl(60, 100%, 97%);
    --foreground: hsl(0, 0%, 9%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
