---
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle="404: Not Found">
  <div class="text-center tracking-wide">
    <h1 class="text-7xl font-bold">404</h1>
    <p>This page doesn't exist.</p>
  </div>
</Layout>
