---
import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle="Home">
  <div class="mb-6 px-6 sm:px-8 space-y-4 tracking-wide">
    <h1 class="sr-only">About me</h1>
    <div class="space-y-2">
      <p class="text-4xl font-bold">Hi</p>
      <p>I'm Ruchita</p>
    </div>
    <p>I design and build things for the web.</p>
    <p>
      I focus on good design, intuitive accessible interfaces and maintainable
      code.
    </p>
    <p>
      I'm always experimenting with new ideas, turning them into projects that
      are neat and fun to use.
    </p>
  </div>
</Layout>
