---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="px-6 space-y-8 tracking-wide">
    <h1 class="sr-only">Random interesting things</h1>
    <p>
      The plan is to put all the random interesting things I want to do or have
      done. For now, I'm just tossing up these links. I'll add more stuff soon.
    </p>
    <ul class="space-y-1">
      <li>
        <a href="https://www.nand2tetris.org" class="underline">Nand2Tetris</a>
      </li>
      <li>
        <a href="https://eater.net" class="underline">Ben Eater</a>
      </li>
      <li>
        <a href="https://natureofcode.com" class="underline">Nature Of Code</a>
      </li>
      <li>
        <a href="https://missing.csail.mit.edu" class="underline">
          Missing Semester
        </a>
      </li>
    </ul>
    <p class="text-center">Till then (。・・)ノ | -- WIP -- |</p>
  </div>
</Layout>
