---
type Props = {
  id: string;
  title: string;
  date: Date;
  tags: string[];
};

const { id, title, date, tags } = Astro.props;

const formattedISO = date.toISOString().split('T')[0];
---

<a
  href={`/blog/${id}`}
  class="block px-2 py-6 tracking-wide border-b border-foreground/10 transition-colors duration-300 ease-in-out hover:bg-foreground/5">
  <h2 class="mb-2 text-lg font-medium">{title}</h2>
  <div class="flex justify-between items-center gap-1">
    <div aria-label="Tags" class="text-xs text-foreground/50 divide-x">
      {
        tags.map((tag: string) => (
          <span class="not-first:pl-2 not-last:pr-2">{tag}</span>
        ))
      }
    </div>
    <time
      datetime={formattedISO}
      class="xs:flex-shrink-0 text-sm text-foreground">
      {
        date.toLocaleDateString('en-US', {
          year: 'numeric',
          month: 'short',
          day: '2-digit',
        })
      }
    </time>
  </div>
</a>
