---
import { formatDate } from '../utils';

type Props = {
  id: string;
  title: string;
  date: string;
  tags: string[];
};

const { id, title, date, tags } = Astro.props;
---

<a href={`/blog/${id}`}>
  <div
    class="py-4 flex justify-between items-start gap-3 tracking-wide border-b border-foreground/20">
    <div class="flex flex-col">
      <span class="text-lg font-medium">{title}</span>
      <div class="space-x-2 text-xs text-foreground/70">
        {tags.map((tag: string) => <span>#{tag}</span>)}
      </div>
    </div>
    <span class="flex-shrink-0 text-sm text-foreground/70">
      {formatDate(date)}
    </span>
  </div>
</a>
