---
import Header from '../components/Header.astro';
import Footer from '../components/footer/Footer.astro';
import '@fontsource-variable/mulish';
import '../styles/global.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Ruchita</title>
  </head>
  <body>
    <div class="mx-2 md:mx-10 lg:mx-35 border-x border-foreground/10">
      <div
        class="max-w-screen-md min-h-lvh mx-auto flex flex-col justify-between underline-offset-2">
        <Header />
        <main>
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body>
</html>
